html {
  font-size: 15px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Open Sans', sans-serif; /* this should be the rest of the output you got from Google fonts */
}

p {
  color: green;
  font-size: 16px;    
  text-align: center;
  letter-spacing: 1px;
}

h1 {
  color: navy;
  font-size: 30px;
  text-align: center;
}

/*CSS Element Selector*/
header {
    color: white;
    background-color: lavender;
}

/*CSS ID Selector*/
#section1 {
     border-radius: 25px;
     border: 2px solid yellow;
     padding: 20px;
     margin: 20px;
}
#section2 {
     border-radius: 25px;
     border: 2px solid blue;
     padding: 20px;
     margin: 20px;
}
#section3 {
     border-radius: 25px;
     border: 2px solid orange;
     padding: 20px;
     margin: 20px;
}
#section4 {
     border-radius: 25px;
     border: 2px solid pink;
     padding: 20px;
     margin: 20px;
}
/*CSS class Selector*/
.center {
    text-align: center;
}
