html {
  font-size: 15px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Open Sans', sans-serif; /* this should be the rest of the output you got from Google fonts */
}

p {
  color: black;
  font-size: 16px;    
  text-align: center;
  letter-spacing: 1px;
}

li {
  color: black;
  font-size: 16px;    
  letter-spacing: 1px;
}

h1 {
  color: black;
  font-size: 30px;
  text-align: center;
}

/*CSS Element Selector*/
header {
    background-color: lavender;
}

/*CSS ID Selector*/
#section1, #section2, #section3, #section4, #section5 {
     background-color: white;
     border-radius: 25px;
     border: 2px solid red;
     padding: 20px;
     margin: 20px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.button {
  border-radius: 25%;
  margin: 25%;
  padding: 25%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*CSS Responsive*/
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 45%;
}
@media screen and (max-width:900px) {
  .column {
    width: 95%;
  }
}

/*CSS class Selector*/
.center {
    text-align: center;
}

body {background-color: lavender;}
